
    <div class="card ">
        <div class="card-img-wrapper">
        <img class="card-img-top" src="assets/images/House_default.jpg">
        <ul class="list-inline text-center member-icons animate">
            <li class="list-inline-item">
                <button class="btn btn-primary">E</button>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-primary">C</button>
            </li>
        </ul>
        </div>
        <div class="card-body p-6">
        <h2>{{property.Name}}</h2>
        <h3>{{property.Type}}</h3>
        <h3>{{property.Price}}</h3>
    </div>
</div>
